
EMAIL_HOST=imap.office365.com
EMAIL_PORT=993
EMAIL_USER=luis@empresa.com
EMAIL_PASSWORD=******
EMAIL_MAILBOX=INBOX

EMAIL_ALLOWED_SENDER=@miempresa\.com$
EMAIL_ALLOWED_SUBJECT=OTP
EMAIL_OTP_REGEX=\b\d{6}\b
EMAIL_OTP_TTL_SECONDS=300

TEAMS_WEBHOOK_URL=xxxxx

EMAIL_POLL_INTERVAL_SECONDS=30
